* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family: system-ui, sans-serif;
	background:linear-gradient(to bottom,#000,#0e295b);
	background-repeat: no-repeat;
    background-attachment: fixed;
	color:#fff;
	font-weight:bold;
	font-size:24px;
}
header {
	width:100%;
	margin:0;
	padding:0;
	background-color:#0000FF;
	color:#EFEFEF;
	font-weight:bold;
}

video {
	width:100%;
	height:auto;
	padding:0.5rem 0rem;
}
.menu {
	padding:1rem;
	font-weight:bold;
}
.menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	list-style-position:outside;
}
.menu li, a {
	width:100%;
	background-color:#000;
	color:#EFEFEF;
	margin:0.125rem;
	padding:0.125rem;
	text-align:center;
	text-decoration:none;
	display:inline-block;
}
.row::after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	width:100%;
	float:left;
	padding:0.5rem;
}
[class*="col-M"] {
	width:100%;
	float:left;
	padding:0;
}
.col-s-1 {width:16.66%;}
.col-s-2 {width:33.33%;}
.col-s-3 {width:50%;}
.col-s-4 {width:66.66%;}
.col-s-5 {width:83.33%;}
.col-s-6 {width:100%;}

.col-M-s-1 {width:16.66%;}
.col-M-s-2 {width:33.33%;}
.col-M-s-3 {width:50%;}
.col-M-s-4 {width:66.66%;}
.col-M-s-5 {width:83.33%;}
.col-M-s-6 {width:100%;}

iframe {
	max-width:100%;
	width:30rem;
	height:20rem;
}
@media only screen and (min-width:768px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	.col-M-1 {width: 8.33%;}
	.col-M-2 {width: 16.66%;}
	.col-M-3 {width: 25%;}
	.col-M-4 {width: 33.33%;}
	.col-M-5 {width: 41.66%;}
	.col-M-6 {width: 50%;}
	.col-M-7 {width: 58.33%;}
	.col-M-8 {width: 66.66%;}
	.col-M-9 {width: 75%;}
	.col-M-10 {width: 83.33%;}
	.col-M-11 {width: 91.66%;}
	.col-M-12 {width: 100%;}
}
@media only screen and (min-width:1080px){
	iframe {
		width:60rem;
		height:45rem;
	}
}
